<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.dao.XxlJobSubLogDao">
	
	<resultMap id="XxlJobLog" type="com.xxl.job.executor.core.model.XxlJobSubLog" >
		<result column="id" property="id" />
		<result column="parent_id" property="parentId" />

		<result column="job_group" property="jobGroup" />
		<result column="job_id" property="jobId" />

		<result column="index" property="index" />
		<result column="total" property="total" />

		<result column="executor_address" property="executorAddress" />
	    <result column="executor_param" property="executorParam" />

	    <result column="trigger_time" property="triggerTime" />
	    <result column="trigger_code" property="triggerCode" />
	    <result column="trigger_msg" property="triggerMsg" />
	    
	    <result column="handle_time" property="handleTime" />
	    <result column="handle_code" property="handleCode" />
	    <result column="handle_msg" property="handleMsg" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		parent_id,
		job_group,
		job_id,
		index,
		total,
		executor_address,
		executor_param,
		trigger_time,
		trigger_code,
		trigger_msg,
		handle_time,
		handle_code,
		handle_msg
	</sql>

	<insert id="save" parameterType="com.xxl.job.executor.core.model.XxlJobSubLog" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO XXL_JOB_QRTZ_TRIGGER_SUB_LOG (
			`parent_id`,
			`job_group`,
			`job_id`,
			`index`,
			`total`,
			`executor_param`,
			`trigger_time`,
			`trigger_code`,
			`trigger_msg`
		) VALUES (
			#{parentId},
			#{jobGroup},
			#{jobId},
			#{index},
			#{total},
			#{executorParam},
			#{triggerTime},
			#{triggerCode},
			#{triggerMsg}
		);
	</insert>
</mapper>